/* {
    background-color: #0093E9;
    height: 12%;
}
*/
p {
    padding-top: 10px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0093E9;
    color: white;
    text-align: center;
 }